<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css">
<style>
body {
   font-family: "Computer Modern Serif", serif;
}
.box { 
   border-radius: 5px;
   border-style: solid;
   padding: 25px;
   width: 700px;
   box-shadow: 5px 5px 0 0 black;
   margin: 10px;
}
.menu {
   border-radius: 5px;
   border-style: solid;
   padding: 25px;
   width: 300px;
   box-shadow: 5px 5px 0 0 black;
   font-size: 25px;
   margin: 10px;
}
.notes {
   border-radius: 5px;
   border-style: solid;
   padding: 25px;
   width: 300px;
   box-shadow: 5px 5px 0 0 black;
   font-size: 25px;
   margin: 10px;
}
</style>
</head>
<body>
<title>hello</title>
<div style="float: left">
<div class="menu">
   + 🕊 <a href="/">fleeting note</a>
   {# + 🕊 <a href="write-a-card">fleeting note</a> #}
   {# <br> #}
   {# + 📖 <a href="write-a-card">literature note</a> #}
   {# <br> #}
   {# + 🖋️ <a href="write-a-card">permanent note</a> #}
   {# <br> #}
   {# + 🗂️ <a href="write-a-card">index note</a> #}
   </div>

<div class="notes">
    {% if notes == "" %}
    🕳️
    {% else %}
    {{ notes }}
    {% endif %}
</div>
</div>
<div style="float: left">
    <div class="box">
        <h1>{{ title }} <span style="color: grey"><i>{{date}}</i></span></h1>
        <p>
         {{ content }}
        </p>
    </div>
</div>
</body>
</html> 