<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/aaaakshat/cm-web-fonts@latest/fonts.css">
<style>
/* Dropdown Button */
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}


body {
   font-family: "Computer Modern Serif", serif;
}
.box { 
   border-radius: 5px;
   border-style: solid;
   padding: 25px;
   width: 700px;
   box-shadow: 5px 5px 0 0 black;
   margin: 10px;
}
.menu {
   border-radius: 5px;
   border-style: solid;
   padding: 25px;
   width: 300px;
   box-shadow: 5px 5px 0 0 black;
   font-size: 25px;
   margin: 10px;
}
.notes {
   border-radius: 5px;
   border-style: solid;
   padding: 25px;
   width: 300px;
   box-shadow: 5px 5px 0 0 black;
   font-size: 25px;
   margin: 10px;
}
</style>
</head>
<body>
    <script>
        function myFunction() {
            document.getElementById("myDropdown").classList.toggle("show");
          }

          function appendToText(s) {
            document.getElementById("newcontent").value += "[" + s + "]" + "(/note?title=" + s + ")";
        }
          
          // Close the dropdown menu if the user clicks outside of it
          window.onclick = function(event) {
            if (!event.target.matches('.dropbtn')) {
              var dropdowns = document.getElementsByClassName("dropdown-content");
              var i;
              for (i = 0; i < dropdowns.length; i++) {
                var openDropdown = dropdowns[i];
                if (openDropdown.classList.contains('show')) {
                  openDropdown.classList.remove('show');
                }
              }
            }
          }
    </script>
<title>hello</title>
<div style="float: left">
<div class="menu">
    🫖 Kettle notes
    <br>
   {# 📂 sign in #}
   <form action="/login" method="get">
    <input type="text" name="username" placeholder="Username">
    <input name="password" type="password" placeholder="Password">
  <br><br>
  <input type="submit" value="Submit">
  </form>

  </div>
</body>
</html>