<!DOCTYPE html>
<html>
<head>
<style>
.box {
   border-style: solid;
   padding: 25px;
   width: 700px;
   box-shadow: 5px 5px 0 0 black;
   margin: 100px;
   float: left;
}
.menu {
   float: left;
   border-style: solid;
   padding: 25px;
   width: 300px;
   box-shadow: 5px 5px 0 0 black;
   margin-top: 100px;
   font-size: 25px;
}
</style>
</head>
<body>
<title>hello</title>
<div class="box">
   <h1>Write a new card</h1>
   <h2 style="color: grey">Date: {{ date }} </h2>
   <form action="/put-card" method="get">
     <input type="text" name="title" placeholder="Title"><br><br>
      <textarea name="content" rows="25" cols="80" placeholder="What do you want to write about?"></textarea>
   <br><br>
   <input type="submit" value="Submit">
   <input type="hidden" name="date" value="{{ date }}" />
   </form>
</div>
</body>
</html>